{% extends "layout.html" %}
{% block contenu %}
    <table>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 1 </div> <div> H </div> <div style="font-size:16px;"> Hydrogène <br> 1,01 </div> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <div style="text-align: right; font-size: 20px;"> 2 </div> <div> He </div> <div style="font-size:16px;"> Hélium <br> 4,00 </div> </td>
        </tr>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 3 </div> <div> Li </div> <div style="font-size:16px;"> Lithium <br> 6,94 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 4 </div> <div> Be </div> <div style="font-size:16px;"> Béryllium <br> 9,01 </div> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <div style="text-align: right; font-size: 20px;"> 5 </div> <div> B </div> <div style="font-size:16px;"> Bore <br> 10,81 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 6 </div> <div> C </div> <div style="font-size:16px;"> Carbone <br> 12,01 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 7 </div> <div> N </div> <div style="font-size:16px;"> Azote <br> 14,01 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 8 </div> <div> O </div> <div style="font-size:16px;"> Oxygène <br> 16,00 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 9 </div> <div> F </div> <div style="font-size:16px;"> Fluor <br> 19,00 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 10 </div> <div> Ne </div> <div style="font-size:16px;"> Néon <br> 20,18 </div> </td>
        </tr>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 11 </div> <div> Na </div> <div style="font-size:16px;"> Sodium <br> 22,99 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 12 </div> <div> Mg </div> <div style="font-size:16px;"> Magnésium <br> 24,31 </div> </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td> <div style="text-align: right; font-size: 20px;"> 13 </div> <div> Al </div> <div style="font-size:16px;"> Aluminium <br> 26,98 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 14 </div> <div> Si </div> <div style="font-size:16px;"> Silicium <br> 28,09 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 15 </div> <div> P </div> <div style="font-size:16px;"> Phosphore <br> 30,97 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 16 </div> <div> S </div> <div style="font-size:16px;"> Soufre <br> 32,06 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 17 </div> <div> Cl </div> <div style="font-size:16px;"> Chlore <br> 35,45 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 18 </div> <div> Ar </div> <div style="font-size:16px;"> Argon <br> 39,95 </div> </td>
        </tr>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 19 </div> <div> K </div> <div style="font-size:16px;"> Potassium <br> 39,10 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 20 </div> <div> Ca </div> <div style="font-size:16px;"> Calcium <br> 40,08 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 21 </div> <div> Sc </div> <div style="font-size:16px;"> Scandium <br> 44,96 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 22 </div> <div> Ti </div> <div style="font-size:16px;"> Titane <br> 47,87 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 23 </div> <div> V </div> <div style="font-size:16px;"> Vanadium <br> 50,94 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 24 </div> <div> Cr </div> <div style="font-size:16px;"> Chrome <br> 52,00 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 25 </div> <div> Mn </div> <div style="font-size:16px;"> Manganèse <br> 54,94 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 26 </div> <div> Fe </div> <div style="font-size:16px;"> Fer <br> 55,85 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 27 </div> <div> Co </div> <div style="font-size:16px;"> Cobalt <br> 58,93 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 28 </div> <div> Ni </div> <div style="font-size:16px;"> Nickel <br> 58,69 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 29 </div> <div> Cu </div> <div style="font-size:16px;"> Cuivre <br> 63,55 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 30 </div> <div> Zn </div> <div style="font-size:16px;"> Zinc <br> 65,41 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 31 </div> <div> Ga </div> <div style="font-size:16px;"> Gallium <br> 69,72 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 32 </div> <div> Ge </div> <div style="font-size:16px;"> Germanium <br> 72,64 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 33 </div> <div> As </div> <div style="font-size:16px;"> Arsenic <br> 74,92 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 34 </div> <div> Se </div> <div style="font-size:16px;"> Sélénium <br> 78,96 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 35 </div> <div> Br </div> <div style="font-size:16px;"> Brome <br> 79,90 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 36 </div> <div> Kr </div> <div style="font-size:16px;"> Krypton <br> 83,79 </div> </td>
        </tr>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 37 </div> <div> Rb </div> <div style="font-size:16px;"> Rubidium <br> 85,47 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 38 </div> <div> Sr </div> <div style="font-size:16px;"> Strontium <br> 87,62 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 39 </div> <div> Y </div> <div style="font-size:16px;"> Ytrium <br> 88,91 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 40 </div> <div> Zr </div> <div style="font-size:16px;"> Zirconium <br> 91,22 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 41 </div> <div> Nb </div> <div style="font-size:16px;"> Niobium <br> 92,91 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 42 </div> <div> Mo </div> <div style="font-size:16px;"> Molybdène <br> 95,94 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 43 </div> <div> Tc </div> <div style="font-size:16px;"> Technétium <br> (98) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 44 </div> <div> Ru </div> <div style="font-size:16px;"> Ruthénium <br> 101,07 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 45 </div> <div> Rh </div> <div style="font-size:16px;"> Rhodium <br> 102,91 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 46 </div> <div> Pd </div> <div style="font-size:16px;"> Palladium <br> 106,42 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 47 </div> <div> Ag </div> <div style="font-size:16px;"> Argent <br> 107,87 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 48 </div> <div> Cd </div> <div style="font-size:16px;"> Cadmium <br> 112,41 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 49 </div> <div> In </div> <div style="font-size:16px;"> Indium <br> 114,82 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 50 </div> <div> Sn </div> <div style="font-size:16px;"> Etain <br> 118,71 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 51 </div> <div> Sb </div> <div style="font-size:16px;"> Antimoine <br> 121,76 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 52 </div> <div> Te </div> <div style="font-size:16px;"> Tellure <br> 127,60 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 53 </div> <div> I </div> <div style="font-size:16px;"> Iode <br> 126,90 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 54 </div> <div> Xe </div> <div style="font-size:16px;"> Xénon <br> 131,29 </div> </td>
        </tr>
        <tr>
            <td> <div style="text-align: right; font-size: 20px;"> 55 </div> <div> Cs </div> <div style="font-size:16px;"> Césium <br> 132,90 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 56 </div> <div> Ba </div> <div style="font-size:16px;"> Baryum <br> 137,34 </div> </td>
            <td> Lanthas (57-71) </td>
            <td> <div style="text-align: right; font-size: 20px;"> 72 </div> <div> Hf </div> <div style="font-size:16px;"> Hafnium <br> 178,49 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 73 </div> <div> Ta </div> <div style="font-size:16px;"> Tantale <br> 180,95 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 74 </div> <div> W </div> <div style="font-size:16px;"> Tungstène <br> 180,95 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 75 </div> <div> Re </div> <div style="font-size:16px;"> Rhénium <br> 186,21 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 76 </div> <div> Os </div> <div style="font-size:16px;"> Osmium <br> 190,23 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 77 </div> <div> Ir </div> <div style="font-size:16px;"> Iridium <br> 192,22 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 78 </div> <div> Pt </div> <div style="font-size:16px;"> Platine <br> 195,09 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 79 </div> <div> Au </div> <div style="font-size:16px;"> Or <br> 196,97 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 80 </div> <div> Hg </div> <div style="font-size:16px;"> Mercure <br> 200,59 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 81 </div> <div> Tl </div> <div style="font-size:16px;"> Thallium <br> 204,38 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 82 </div> <div> Pb </div> <div style="font-size:16px;"> Plomb <br> 207,19 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 83 </div> <div> Bi </div> <div style="font-size:16px;"> Bismuth <br> 208,98 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 84 </div> <div> Po </div> <div style="font-size:16px;"> Polonium <br> (209) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 85 </div> <div> At </div> <div style="font-size:16px;"> Astate <br> (210) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 86 </div> <div> Rn </div> <div style="font-size:16px;"> Radon <br> (222) </div> </td>
        </tr>
        <tr>
            <td> <a href="aube/francium" class="cache"> <div style="text-align: right; font-size: 20px;"> 87 </div> <div> Fr </div> <div style="font-size:16px;"> Francium <br> (223) </div> </a> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 88 </div> <div> Ra </div> <div style="font-size:16px;"> Radium <br> (226) </div> </td>
            <td> Activs (89-103) </td>
            <td> <div style="text-align: right; font-size: 20px;"> 104 </div> <div> Rf </div> <div style="font-size:16px;"> Rutherfordium <br> (267) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 105 </div> <div> Db </div> <div style="font-size:16px;"> Dubnium <br> (268) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 106 </div> <div> Sg </div> <div style="font-size:16px;"> Seaborgium <br> (271) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 107 </div> <div> Bh </div> <div style="font-size:16px;"> Bohrium <br> (272) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 108 </div> <div> Hs </div> <div style="font-size:16px;"> Hassium <br> (270) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 109 </div> <div> Mt </div> <div style="font-size:16px;"> Meitnérium <br> (276) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 110 </div> <div> Ds </div> <div style="font-size:16px;"> Darmstadtium <br> (281) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 111 </div> <div> Rg </div> <div style="font-size:16px;"> Roentgenium <br> (280) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 112 </div> <div> Cn </div> <div style="font-size:16px;"> Copernicium <br> (285) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 113 </div> <div> Uut </div> <div style="font-size:16px;"> Ununtrium <br> (284) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 114 </div> <div> Fl </div> <div style="font-size:16px;"> Flérovium <br> (289) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 115 </div> <div> Uup </div> <div style="font-size:16px;"> Ununpentium <br> (288) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 116 </div> <div> Lv </div> <div style="font-size:16px;"> Livermorium <br> (293) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 117 </div> <div> Uus </div> <div style="font-size:16px;"> Ununseptium <br> (294) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 118 </div> <div> Uuo </div> <div style="font-size:16px;"> Ununoctium <br> (294) </div> </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> Lanthas:</td>
            <td> <div style="text-align: right; font-size: 20px;"> 57 </div> <div> La </div> <div style="font-size:16px;"> Lanthane <br> 138,91 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 58 </div> <div> Ce </div> <div style="font-size:16px;"> Cérium <br> 140,12 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 59 </div> <div> Pr </div> <div style="font-size:16px;"> Praséodyme <br> 140,91 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 60 </div> <div> Nd </div> <div style="font-size:16px;"> Néodyme <br> 144,24 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 61 </div> <div> Pm </div> <div style="font-size:16px;"> Prométhéum <br> (145) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 62 </div> <div> Sm </div> <div style="font-size:16px;"> Samarium <br> 150,36 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 63 </div> <div> Eu </div> <div style="font-size:16px;"> Europium <br> 151,96 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 64 </div> <div> Gd </div> <div style="font-size:16px;"> Gadolinium <br> 157,25 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 65 </div> <div> Tb </div> <div style="font-size:16px;"> Terbium <br> 158,92 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 66 </div> <div> Dy </div> <div style="font-size:16px;"> Dysprosium <br> 162,50 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 67 </div> <div> Ho </div> <div style="font-size:16px;"> Holmium <br> 164,93 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 68 </div> <div> Er </div> <div style="font-size:16px;"> Erbium <br> 167,26 </div> </td>
            <td> <a href="aube/thulium" class="cache"> <div style="text-align: right; font-size: 20px;"> 69 </div> <div> Tm </div> <div style="font-size:16px;"> Thulium <br> 168,93 </div> </a> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 70 </div> <div> Yb </div> <div style="font-size:16px;"> Ytterbium <br> 173,04 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 71 </div> <div> Lu </div> <div style="font-size:16px;"> Lutécium <br> 174,97 </div> </td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td> Activs:</td>
            <td> <div style="text-align: right; font-size: 20px;"> 89 </div> <div> Ac </div> <div style="font-size:16px;"> Actinium <br> (227) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 90 </div> <div> Th </div> <div style="font-size:16px;"> Thorium <br> 232,04 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 91 </div> <div> Pa </div> <div style="font-size:16px;"> Protactinium <br> 231,04 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 92 </div> <div> U </div> <div style="font-size:16px;"> Uranium <br> 238,03 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 93 </div> <div> Np </div> <div style="font-size:16px;"> Neptunium <br> (237) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 94 </div> <div> Pu </div> <div style="font-size:16px;"> Plutonium <br> 244,06 </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 95 </div> <div> Am </div> <div style="font-size:16px;"> Américium <br> (243) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 96 </div> <div> Cm </div> <div style="font-size:16px;"> Curium <br> (247) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 97 </div> <div> Bk </div> <div style="font-size:16px;"> Berkélium <br> (247) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 98 </div> <div> Cf </div> <div style="font-size:16px;"> Californium <br> (251) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 99 </div> <div> Es </div> <div style="font-size:16px;"> Einsteinium <br> (252) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 100 </div> <div> Fm </div> <div style="font-size:16px;"> Fermium <br> (257) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 101 </div> <div> Md </div> <div style="font-size:16px;"> Mendélèvium <br> (258) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 102 </div> <div> No </div> <div style="font-size:16px;"> Nobélium <br> (259) </div> </td>
            <td> <div style="text-align: right; font-size: 20px;"> 103 </div> <div> Lr <div style="font-size:16px;"> Lawrencium <br> (262) </div> </td>
        </tr>
    </table>
{% endblock contenu %}