:root {
    font-size:16px;
    scrollbar-color: var(--bg-secondary) var(--bg-primary);
    scrollbar-width: thin;
    --bg-primary: #1e1e24;
    --bg-secondary: #0000ff;
}

.page {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.contenu_de_page {
    border: 10px solid black;
    padding: 0;
    margin: 0;
}

.navbar {
    padding: 0;
    margin: 0;
    height: 5rem;
}

.navbar-nav {
    height: 2.5rem;
    width: 100vw;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--bg-primary);
}

ul#textes {
    background-color: lightblue;
    height: 2rem
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-link:visited {
    color: var(--bg-secondary);
}

.nav-item {
    width: 100%;
    color: var(--bg-secondary);
    height: 5rem;
    text-align: center;
}

.nav-subitem {
    margin-left: 4.5vw;
    height: 4rem;
    width: 4rem;
}

.link-text {
    display: none;
    margin-left: 4vw;
}

.navbar:hover {
    height: 7rem;
}

.navbar:hover .link-text {
    display: block;
}

.navbar:hover ul#textes {
    background-color: var(--bg-primary);
}

span#petits {
    margin-left: 5vw;
}

span#moyens {
    margin-left: 4.5vw;
}

span#gros {
    margin-left: 3vw;
}

.post {
    border: 5px solid black;
    background-color: #9c9c9c;
}

.contenu_de_post{
    border: 1px solid black;
    padding: 10px;
}

div#espace{
    padding: 10px;
}

div#actus{
    background-color: #000000;
    width: 100%;
    height: 10%;
    border: 5px solid white;
}

/* Spécifique aux navigateurs utilisant webkit (pour les autres tels que firefox mon préféré <3 c'est géré dans :root):*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb {
    baackground: #0000ff;
}
