/*--base--*/

:root {
    font-size: 30px;
    scrollbar-color: var(--bg-secondary) var(--bg-primary);
    scrollbar-width: thin;
    --bg-primary: #1e1e24;
    --bg-secondary: #0000ff; /*A.K.A. blue*/
    --bg-tertiary: #add8e6; /*A.K.A. lightblue*/
    --bg-quaternary: #000000; /*A.K.A. black*/
    --bg-quinary: #ffffff; /*A.K.A. white*/
    --bg-senary: #9c9c9c;
    --navbar-height: 10vh;
}

.page {
    background-color: var(--bg-tertiary);
    padding: 0;
    margin: 0;
}

.contenu_de_page {
    border: 10px solid var(--bg-quaternary);
    padding: 0;
    margin: 0;
}

/*--Barre de navigation--*/

.navbar {
    padding: 0;
    margin: 0;
    height: var(--navbar-height);
    background-color: var(--bg-primary);
}

.navbar-nav {
    height: 25vh;
    width: 100vw;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: var(--navbar-height);
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
}

.nav-link:visited {
    color: var(--bg-secondary);
}

.nav-item {
    border: 10px solid var(--bg-primary);
    width: 100%;
    height: var(--navbar-height);
    text-align: center;
}

.nav-subitem {
    height: var(--navbar-height);
    width: var(--navbar-height);
    display: table;
}

.link-text {
    color: transparent;
    //display: none;
}

.navbar:hover {
    height: calc(var(--navbar-height)*1.5);
}

.navbar:hover .link-text {
    color: var(--bg-secondary);
    //display: block;
}

path {
    position: relative;
}

/*--Actualités--*/

div#actus{
    background-color: var(--bg-quaternary);
    width: 100%;
    height: 10%;
    border: 5px solid var(--bg-quinary);
}

/*--Univers--*/

table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 2px solid var(--bg-primary);
    text-align: center;
    overflow: hidden;
}

.cache {
    text-decoration: none;
    color: var(--bg-quaternary);
    width: 100%;
    height: 100%;
}

/*--Blog--*/

.post {
    border: 5px solid var(--bg-quaternary);
    background-color: var(--bg-senary);
}

.contenu_de_post {
    border: 1px solid var(--bg-quaternary);
    padding: 10px;
}

div#espace{
    padding: 10px;
}

/*--Crédits--*/

.credits {
    text-align: center;
}

/*--Spécifique aux navigateurs utilisant webkit (pour les autres tels que firefox mon préféré <3 c'est géré dans :root):*/
body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background:#1e1e24;
}
body::-webkit-scrollbar-thumb {
    baackground: #0000ff;
}
