{% extends "layout.html" %}
{% block contenu %}
    <div class="credits">
        <h1><u>Crédits</u></h1>
        <br><br><br>
        <h2><u>Participation</u></h2>
        <br>
        <u>Version 1.0</u>
        <br>
        reza0310 (Code, écriture, ressources, idées, administration)
        <br><br>
        <h2><u>Code</u></h2>
        <br>
        <u>Site web</u>
        <br>
        reza0310 (Tout)
        <br><br>
        <u>Appli téléphone</u>
        <br>
        reza0310 (Tout)
        <br><br>
        <h2><u>Écriture</u></h2>
        <br>
        <u>Biographies de Aube</u>
        <br>
        reza0310 (Francium)
        <br><br>
        <h2><u>Ressources</u></h2>
        <br>
        <u>Images</u>
        <br>
        reza0310 (Rêve)
        <br><br>
        <h2><u>Idées</u></h2>
        <br>
        reza0310 (Version 1.0)
        <br><br>
        <h2><u>Administration</u></h2>
        <br>
        <u>Maître du jeu</u>
        <br>
        reza0310
        <br><br>
        <h2><u>Remerciements à:</u></h2>
        Jade, Yann
    </div>
{% endblock contenu %}