{% extends "layout.html" %}
{% block contenu %}
    <div id="actus">
        test
    </div>
    <ul>
        <li><a href="actualites">Actualités</a></li>
        <li><a href="blog">Blog</a></li>
        <li><a href="clubs">Clubs</a></li>
        <li><a href="contact">Nous contacter</a></li>
        <li><a href="credits">Crédits</a></li>
        <li><a href="projet">A propos du projet</a></li>
        <li><a href="telechargements">Téléchargements</a></li>
        <li><a href="univers">Univers</a></li>
    </ul>
{% endblock contenu %}